@import 'import';

.small {
    width: 1.1rem;
    height: 1.1rem;
}

.medium {
    width: 3rem;
    height: 3rem;
}

.small-to-top {
    transition: $dft-transition;
}

.transition03 {
    transition: .3s;
}

.transition07 {
    transition: .7s;
}

.small-to-top:hover {
    transform: translateY(-5px);
}

.fit-content {
    width: fit-content
}

.fill {
    position: absolute;
    inset: 0 0 0 0;
}

.whitesmoke {
    color: whitesmoke !important;
}

.display-none {
    display: none
}

.dft-container {
    @include dftPlate;
    animation: anim .7s;
}