$bg-color: #141414;
$bg-color-dark: #111111;
$plate-color: #1a1a1a;

$bg-color-light: #222222;
$bg-color-light-: #252525;

$text-color: #D2D2D2;
$dft-transition: .7s;
$short-transition: .3s;

@mixin dftPlate {
    background-color: $plate-color;
    border-radius: 2px;
    position: relative;
}

@mixin positioncenterbyflex {
    display: flex;
    align-items: center;
    justify-content: center;
}