// $bg-color: #292929;
// $bg-color-dark: #262626;
// $plate-color: #2C2C2C;

// $bg-color-light: #333333;
// $bg-color-light-: #373737;

$bg-color: #141414;
$bg-color-dark: #111111;
$plate-color: #1a1a1a;

$bg-color-light: #222222;
$bg-color-light-: #252525;

$text-color: #D2D2D2;
$dft-transition: .7s;

@mixin dftPlate {
    background-color: $plate-color;
    border-radius: 8px;
    position: relative;
}

.bg-color {
    background-color: $bg-color !important;
}

.bg-color-dark {
    background-color: $bg-color-dark !important;
}

.plate-color {
    background-color: $plate-color !important;
}

.bg-color-light {
    background-color: $bg-color-light !important;
}

.bg-color-light- {
    background-color: $bg-color-light- !important;
}

@mixin positioncenterbyflex {
    display: flex;
    align-items: center;
    justify-content: center;
}