// $bg-color: #292929;
// $bg-color-dark: #262626;
// $plate-color: #2C2C2C;

// $bg-color-light: #333333;
// $bg-color-light-: #373737;

$bg-color: #1b1b1b;
$bg-color-dark: #141414;
$plate-color: #212121;

$bg-color-light: #2c2c2c;
$bg-color-light-: #2e2e2e;

$text-color: #D2D2D2;
$dft-transition: .7s;

@mixin dftPlate {
    background-color: $plate-color;
    border-radius: 8px;
    position: relative;
    transition: $dft-transition;
    animation: anim $dft-transition;
}

.bg-color {
    background-color: $bg-color !important;
}

.bg-color-dark {
    background-color: $bg-color-dark !important;
}

.plate-color {
    background-color: $plate-color !important;
}

.bg-color-light {
    background-color: $bg-color-light !important;
}

.bg-color-light- {
    background-color: $bg-color-light- !important;
}

@keyframes anim {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(0);
    }
}

@mixin fillall {
    position: absolute;
    inset: 0 0 0 0;
}

@mixin positioncenterbyflex {
    display: flex;
    align-items: center;
    justify-content: center;
}