@use 'import' as *;

.whitesmoke {
    color: whitesmoke !important;
}

.small {
    width: 18px;
    height: 18px;
}

.small- {
    width: 23px;
    height: 23px;
}

.medium {
    width: 30px;
    height: 30px;
}

.small-ava {
    min-width: 60px;
    height: 45px;
    background-color: $bg-color-light;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
}

.ava {
    height: 70px;
    width: 100px;
}

.trans-5 {
    transform: translateY(5px);
}

.trans-10 {
    transform: translateY(10px);
}

.small-to-top {
    transition: $dft-transition;
}

.small-to-top:hover {
    transform: translateY(-5px);
}

.transform-40 {
    transform: translateY(-40px) !important;
}

.music:hover {
    background-color: $bg-color-light;
}

.messagecontext {
    max-width: 70%;
    background-color: $bg-color-light;
}

.m-reverse {
    border-radius: 10px 0 10px 10px !important;
}

.m-line {
    border-radius: 0 10px 10px 10px;
}

.rightClickMessageWindow {
    & p:hover {
        background-color: $bg-color-light;
    }
}
.overlay {
    cursor: pointer;
    transition: $dft-transition;
}